h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inria Serif", serif;
}
a {
  color: rgb(60, 87, 133);
}
.blue-bg-text {
  background-color: rgb(60, 87, 133);
  color: rgb(235, 237, 240);
  padding-left: 10px;
  border-radius: 5%;
}
.home-header {
  padding: 50px 50px 0px 120px;
  height: max-content;
  margin-bottom: 20px;
  overflow: auto;
  /* background-color: rgb(107, 130, 168); */
  /* background-image: linear-gradient(to bottom right, rgb(107, 130, 168), white); */
}

.home-title {
  float: left;
  width: 40%;
}

.home-short-intro {
  position: relative;
  width: 50%;
  height: auto;
  float: right;
}

.image-container {
  width: 24rem;
  height: 24rem;
  overflow: hidden;
  border-radius: 50%; /* Creates circular shape */
  position: relative;
  z-index: 1;
  border: 10px solid rgb(60, 87, 133);
}
.image-container img {
  width: 25rem;
  height: auto;
  object-fit: cover;
}

.home-short-intro .introduction {
  position: absolute;
  top: 70px;
  left: 400px;
  transform: translate(-50%, -50%);
  background-color: rgb(60, 87, 133);
  color: white; /* Text color */
  padding: 10px;
  border-radius: 5px;
  z-index: 2;
  width: 60%;
}

.main {
  margin-top: 100px;
}

.table-of-contents {
  padding-left: 100px;
}
.chapter {
  margin-bottom: 40px;
}
.chapter-title {
  display: flex;
  align-items: center;
  padding-left: 40px;
}
.dashed-line {
  flex-grow: 1;
  border-bottom: 2px dashed #000; /* Dashed line style */
  margin-left: 10px; /* Space between text and line */
  margin-right: 140px;
}

#backToTopBtn {
  display: none; /* Hide the button by default */
  position: fixed; /* Fixed position so it stays in the same place even when scrolling */
  bottom: 20px; /* Distance from the bottom of the viewport */
  right: 20px; /* Distance from the right side of the viewport */
  z-index: 99; /* Ensure the button appears on top of other content */
  padding: 10px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  background-color: rgb(60, 87, 133); /* Button background color */
  color: white; /* Button text color */
  border: none; /* Remove button border */
  cursor: pointer; /* Set cursor to pointer on hover */
  border-radius: 5px; /* Optional: Add border radius for rounded corners */
}

#backToTopBtn:hover {
  background-color: #0056b3; /* Change background color on hover */
}
